### [1]  리스트(list) : 가변형(mutable), 시퀀스, 가장 유용한 자료형, [ ] :대괄호, 중복 허용

In [1]:
a = [1,2,3,4,5,6]
print(a,type(a))

b = ['a','hello',1,3.5,a,3.5,1]
print(b)

In [2]:
# 인덱싱 /슬라이싱 : 배포 소스 참조
a[0] = 10   # # 가변형이므로 요소 변경이 가능하다
print(a)

a[1:3] = [8,9,10]
print(a)

In [3]:
# range(start, end+1,step)

print(list(range(0,10,1)))
print(list(range(10)))      # 위와 동일한 결과
print(list(range(0,10)))    # 위와 동일한 결과

print(list(range(-10,11,2)))

In [4]:
a = [1,2,3,4,5,6,7,8,9,10]
print(len(a))  # 요소의 갯수, byte size가 아니다  
print(sum(a))
print(min(a))
print(max(a))

In [5]:
# 연산자
a = [1,2,3]
b = [3,4,5]
c = a + b
print(c)
a*3

In [6]:
print(3 in a)
print( 4 not in a)

In [7]:
# 추가
a = []    # 빈리스트
print(a)
# a[0] = 10  IndexError

for k in range(10):  # 0 ~ 9, 10회
    a.append(k)
print(a)

In [8]:
del a[0]
a

In [9]:
# 정렬
a = [1,5,2,4,3]
print(a)

a.sort()               # 오름 차순, 원본 변경
print(a)

a.sort(reverse=True)    # 내림 차순, 원본 변경
print(a)

In [10]:
# for문, if 문사용
# from 0 to 10 짝수의 합
sum(list(range(0,11,2)))

total = 0
a = []
for k in range(0,11,2):   # 속도가 느리다
    print(k)
    total += k # total = toatl + k
    if k > 4 :
        a.append(k)

print(total) 
print(a)

In [11]:
# 리스트 내장(List Comprehension) : 파이썬 스타일(pythonic), 필수 암기
a = [k for k in range(0,11,2)]
print(a)

b = [k for k in range(10)]
print(b)

In [12]:
# 조건식이 포함된 리스트 내장
a = [k for k in range(0,11,2) if k > 4]
print(a)

In [13]:
a = list(range(11))
print(a)

b = [k for k in a if k%3 == 0]
print(b)

c = [k for k in a if k%3 != 0]
print(c)

In [14]:
d = [k for k in a if (k%3 == 0) and (k > 4)]
print(d)

### [2] 튜플(tuple) : 불변형(immutable), 시퀀스형, ( ):소괄호 사용

In [15]:
a = (1,2,3,4,5,6)
print(a,type(a))

In [16]:
# indexing/slicing : 배포소스 참조
# a[0] = 10         # TypeError: 'tuple' object does not support item assignment
# a[1:3] = (20,30)  # TypeError: 'tuple' object does not support item assignment
                    # 불변형 데이터는 요소 수정이 불가

In [17]:
# 패킹(packing), 언패킹
t = 1, 2,'hello'  # 패킹, 괄호 생략이 가능, 쉼표로 데이터가 구분되어 있으면 튜플
print(type(t))

a,b,c = t         # 언패킹
print(a,b,c)

<class 'tuple'>
1 2 hello

In [18]:
a,b,c = 1, 2,'hello' # 언패킹
print(a,b,c)

1 2 hello

In [19]:
# a = 10
# b = 20
# c = 30
a,b,c = 10,20,30  # 튜플의 언패킹

In [20]:
t = (1,2,3,4,5,6,7)  # 패킹
# a,b = t            # ValueError
a,b,_,c,_,d,_ = t    # 언패킹될 요소의 갯수를 일치시켜야한다, '_':사용하지 않을 요소
print(a,b,c,d)


# 확장된 언패킹 : '*' 사용
a, *b = t
print(a)  # 첫번째 요소
print(b)  # 나머지 요소를 모두 리스트로 할당

*a, b = t
print(a)  # 나머지 요소를 모두 리스트로 할당
print(b)  # 마지막 요소

a,b,*c = t
print(a,b)
print(c)

a,*b,c = t
print(a,c)
print(b)

# a,*b,*c = t  # SyntaxError

1 2 4 6
1
[2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
7
1 2
[3, 4, 5, 6, 7]
1 7
[2, 3, 4, 5, 6]

In [21]:
t = ()  # 빈 튜플
l = []  # 빈 리스트

t = (10)        # 튜플이 아님
print(type(t))  # <class 'int'>

l = [10]        # <class 'list'>
print(type(l))

t = (10,)
print(type(t))  # <class 'tuple'>
print(t[0])

t = 10,
print(type(t))  # <class 'tuple'>
print(t[0])

<class 'int'>
<class 'list'>
<class 'tuple'>
10
<class 'tuple'>
10

In [22]:
# 리스트와 문자열도 언패킹과 확장 언패킹
a,b = [1,2]
print(a,b)

a,b ='hi'
print(a,b)

a,*b = 'hello'
print(a)
print(b)  # 나머지 요소를 모두 리스트로 할당

1 2
h i
h
['e', 'l', 'l', 'o']

In [23]:
# 두 개의 값을 서로 변경하는 코드
# x : 1 , y : 2

# (1) 전통 언어 방식
x = 1
y = 2
temp = x
x = y
y = temp
print(x,y)

# (2) 파이썬 방식( 튜플의 언패킹 사용)
x,y = 1,2
x,y = y,x 
print(x,y)

2 1
2 1

### [3] 사전(dict): 가변형(mutable), 순서가 없다, 연관형, 매핑형 ,{ } : 중괄호사용
#### {key:value,.....}, key 는 반드시 immutable형 이어야 한다(숫자형,문자열,튜플),
#### value 는 mutable,immutable 모두 사용 가능하다

In [24]:
a = {'name':'홍길동','age':30,'phone':'010-1234-1234','birth':'20200519',10:100}
print(a)
print(type(a))

{'name': '홍길동', 'age': 30, 'phone': '010-1234-1234', 'birth': '20200519', 10: 100}
<class 'dict'>

In [25]:
# 요소 접근 : a[key],  순서가 없으므로 slicing은 불가
print(a['name'],a['age'],a['birth'],a[10])

홍길동 30 20200519 100

In [26]:
# 요소 수정
a['name'] = '김철수'
a['age'] = 20
a[10] = 500
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20200519', 10: 500}

In [27]:
# 요소 추가
a['주소'] = '서울시'
a['직업'] = '학생'
a[(1,2,3)] = '튜플데이터'
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20200519', 10: 500, '주소': '서울시', '직업': '학생', (1, 2, 3): '튜플데이터'}

In [28]:
# 제거
del a['주소']
del a[(1,2,3)]
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20200519', 10: 500, '직업': '학생'}

In [29]:
# 연산자
print(a.keys())    #  key 값들 만 dict_keys타입으로 변환
print(a.values())  # value 값들만 dict_values 타입으로 변환

print(a.items())   # key와 value값을 튜플로 만들어 dict_items 타입으로 변환

dict_keys(['name', 'age', 'phone', 'birth', 10, '직업'])
dict_values(['김철수', 20, '010-1234-1234', '20200519', 500, '학생'])
dict_items([('name', '김철수'), ('age', 20), ('phone', '010-1234-1234'), ('birth', '20200519'), (10, 500), ('직업', '학생')])

In [30]:
# 사전 내장(dict comprehension)
a = {k:1 for k in 'abcdefg'}
print(a)
print(type(a))

a = {i:k for i, k in enumerate('abcdefg')} # 인덱스와 요소값을 함께 튜플로 변환
print(a)

{'a': 1, 'b': 1, 'c': 1, 'd': 1, 'e': 1, 'f': 1, 'g': 1}
<class 'dict'>
{0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e', 5: 'f', 6: 'g'}

In [31]:
a = {k:1 for k in 'abcdefg' if k != 'c'}
print(a)

{'a': 1, 'b': 1, 'd': 1, 'e': 1, 'f': 1, 'g': 1}

In [32]:
b = ['name', 'age', 'phone', 'birth', 10, '직업']
a = {k:i for i,k in enumerate(b)}
print(a)

{'name': 0, 'age': 1, 'phone': 2, 'birth': 3, 10: 4, '직업': 5}

In [33]:
a1 = ['name', 'age', 'phone', 'birth', 10, '직업']
a2 = ['김철수', 20, '010-1234-1234', '20200519', 500, '학생']

# 두개의 서로 다른 리스트를 사용하여 한 개의 사전을 생성
# a = {a1[0]:a2[0],a1[1]:a2[1]}
# print(a)

# print(list(zip(a1,a2)))

a = {k:v for k,v in zip(a1,a2)}
print(a)

{'name': '김철수', 'age': 20, 'phone': '010-1234-1234', 'birth': '20200519', 10: 500, '직업': '학생'}

### [4] 집합(set) : mutable, 순서가 없다, { }중괄호 사용, 중복을 허용하지 않는다

In [34]:
s = {1,2,3,4}
print(s,type(s))

{1, 2, 3, 4} <class 'set'>

In [35]:
d = {}    # 빈 사전, 집합이 아니다
print(type(d))

<class 'dict'>

In [36]:
l = []  # 빈 리스트
t = ()  # 빈 튜플
d = {}  # 빈 사전

In [37]:
# 중복 허용하지 않음
s = {4,4,4,5,5,5,6,6,6,2,2,2,1,1,1,8,8,8}
print(s)

{1, 2, 4, 5, 6, 8}

In [38]:
# 중복된 데이터 제거 시 주로 사용됨
a = [4,4,4,5,5,5,6,6,6,2,2,2,1,1,1,8,8,8]
print(a)
a = list(set(a))
print(a)

word_list = ['hello','say','hello','say','i','you','i']
print(word_list)
words = list(set(word_list))
print(words)

d = {k:i for i, k in enumerate(words)}
print(d)

[4, 4, 4, 5, 5, 5, 6, 6, 6, 2, 2, 2, 1, 1, 1, 8, 8, 8]
[1, 2, 4, 5, 6, 8]
['hello', 'say', 'hello', 'say', 'i', 'you', 'i']
['say', 'hello', 'you', 'i']
{'say': 0, 'hello': 1, 'you': 2, 'i': 3}