In [25]:
import pandas as pd
import os
import numpy as np
df = pd.read_csv(os.getcwd()+"/model_data.csv",engine='python',encoding='euc-kr')
df.head()

,NAME,GENDER,AGE,AGEGROUP,WEIGHT,OXY,RUNTIME,RUNPULSE,RSTPULSE,MAXPULSE
0,Donna,여성,42,40대,68.15,59.571,8.17,166,40,172
1,Gracie,NaN,38,30대,81.87,60.055,8.63,170,48,186
2,Luanne,여성,43,40대,85.84,54.297,8.65,156,45,168
3,Mimi,여성,50,50대,70.87,54.625,8.92,146,48,155
4,Chris,남성,49,40대,NaN,49.156,8.95,180,44,185

In [54]:
os.getcwd()

'/home/pirl/포항공대 /아카데미수업내용/5주차'

In [26]:
print(df.shape)

(31, 10)

In [27]:
df.isnull().sum()

NAME        0
GENDER      1
AGE         0
AGEGROUP    0
WEIGHT      2
OXY         0
RUNTIME     0
RUNPULSE    0
RSTPULSE    0
MAXPULSE    0
dtype: int64

In [22]:
# df['GENDER'].fillna('여성', inplace=True)
# df['WEIGHT'].fillna(df.groupby('GENDER')['WEIGHT'].transform('mean'),inplace=True)

In [28]:
df1=df.dropna()
print(df1.shape)

(28, 10)

In [36]:
x=df1[['AGE','WEIGHT','RUNTIME','RUNPULSE','RSTPULSE','MAXPULSE']]
y=df1[['OXY']]

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_absolute_error , mean_squared_error
# from sklearn.metrics import

In [50]:
x_train, x_test, y_train, y_test =train_test_split(x,y, test_size=0.3)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(19, 6)
(19, 1)
(9, 6)
(9, 1)

In [60]:
model = Lasso()
result = model.fit(x_train,y_train)

In [61]:
y_pred = result.predict(x_test)

In [62]:
print(model.score(x_test,y_test))
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.7095438352211058
5.962401144663823
1.6641851621893267

In [64]:
type(x_train['AGE'])

pandas.core.series.Series